<div id="capsule">
  <div class="container">
    <div class="row">
      <div id="header">

      </div>
    </div>
    <div class="row">
      <div id="body" class="clearfix">
	<div class="span12 main main-left">
	  <div class="formatted-text"><div style="text-align: center; margin-top: -30px; margin-bottom: 0px;">
	      <img src="http://get-it-right.majoliedemo.com/system/uc/2xiupmpq/images/wdbp88y/fh_s.png" alt="">
	    </div>
	    <br />
	    <br />
	    <h1 id="progress" style="font-size: 70px; letter-spacing: -1px; text-align: center;">     Never make mistakes again. </h1>
	    <h2 style="text-align: center; font-size: 28px;">Join <span id="signups">17 (and counting)</span> people just like you who have become superhuman. <strong>Today it’s your turn.</strong> </h2>
	    <br />
	    <br />
	    <div class="row">
	      <div class="span9">
		<div class="row">
		  <div class="span4">
		    <br />
		  </div>
		  <div class="span4">
		    "For all our merger operations we use Get it Right to avoid mistakes. We know everything is properly managed and we can focus on delivering value to our customers." <br />
		    <strong>      -- Céline, Corporate Lawyer  </strong> <br />
		  </div>
		</div>
		<img style="margin: -70px 0px 0px;" src="http://i39.tinypic.com/zlsqw4.png">
	      </div>
	      <div class="span3">
		<br />
		<form action="https://docs.google.com/a/neocamino.com/forms/d/1sSrkzhr64OhIcFmj8JPN3MsdGCX7TwJozoZ00hjUu9A/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
		  <ol style="padding-left: 0">
		    <div class="ss-form-question errorbox-good">
		      <div dir="ltr" class="ss-item ss-text">
			<div class="ss-form-entry">
			  <label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_78233557">
			    <div class="ss-q-title">
			      Be among the first
			    </div>
			    <div class="ss-q-help ss-secondary-text" dir="ltr">
			    </div>
			  </label> <input type="text" name="entry.78233557" value="" class="ss-q-short valid" id="entry_78233557" dir="auto" aria-label="Email " title="">
			  <div class="error-message">
			  </div>
			</div>
		      </div>
		    </div>
		    <input type="hidden" name="draftResponse" value="[] "> <input type="hidden" name="pageHistory" value="0">
		    <div class="ss-item ss-navigate" style="text-align: center;">
		      <table id="navigation-table">
			<tbody>
			  <tr>
			    <td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
			      <input class="btn" type="submit" name="submit" value="I want to be notified" id="ss-submit">
			    </td>
			  </tr>
			</tbody>
		      </table>
		    </div>
		  </ol>
		</form>
		<br />
		or <a style="margin-left: 5px;" class="btn" href="https://www.paywithatweet.com/pay/index.php?id=8d221cfdfab61341f9febb84bb75b14a">Pay with a Tweet</a><br />
		<br />
		Special Startup Weekend : the <a href="http://getitright.herokuapp.com/" target="_blank">great pitch checklist</a>
	      </div>
	  </div></div>


	</div>
	<hr class="visible-phone">
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">

    <a href="#contact-modal" data-toggle="modal">Contact</a> &ndash;
    <a href="/mentions-legales">Mentions légales</a> &ndash;
    <a href="http://neocamino.com" class="neutral" target="_blank">site créé avec</a>
    <a href="http://neocamino.com" target="_blank">Neocamino</a>
  </div>
</div>

<div id="contact-modal" class="modal hide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Contact</h3>
  </div>
  <form accept-charset="UTF-8" action="/contact" class="simple_form new_message" data-remote="true" data-type="json" id="new_message" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="BXS00onDYHRJ3/2oH0cpQ2/g7lpFd+PESNtOHHZjL7k=" /></div>
    <div class="modal-body">
      <div class="formatted-text bm">Leave us your e-mail, we'll soon get back to you.</div>
      <div class="response-anchor"></div>
      <div class="control-group string optional"><label class="string optional control-label" for="message_from">E-mail </label><div class="controls"><input class="string optional be-block-return span3" id="message_from" name="message[from]" size="50" type="text" /></div></div>
      <div class="control-group text optional"><label class="text optional control-label" for="message_body">Votre message </label><div class="controls"><textarea class="text optional span5" cols="40" id="message_body" name="message[body]" rows="20">
      </textarea></div></div>
    </div>
    <div class="modal-footer">
      <input class="btn" data-loading-text="Envoi…" name="commit" type="submit" value="Envoyer" />
      <a href="" class="new hide rm-2">Autre message</a><a href="" class="end hide">Fermer</a>
    </div>
</form></div>
