<div class="container">
    <div class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="row">
        <div class="col-6 col-sm-6 col-lg-4">
		    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Create a new Check List &raquo;</a>
		</div>
	  </div>
	</div>
</div>
