<div class="col-sm-6 col-md-4 check-list-definition">
  <strong><%= link_to check_list_definition.name, check_list_definition %></strong>
  <% unless check_list_definition.description.blank? %>
    <br /><%= check_list_definition.description %>
  <% end %>
</div>
