<h1>Check lists</h1>

<div id="checkListDefinitions">
	<%= render @check_list_definitions %>
</div>

<% if user_signed_in? %>
	<%= link_to 'Create new check list', new_check_list_definition_path, class: "btn btn-primary" %>
<% end %>
