<% if user_signed_in? %>
  <h1>My checklists</h1>
  <div class="row">
    <%= render @check_list_definitions %>
  </div>

  <h1>Public checklists</h1>
  <div class="row">
    <%= render @other_public_check_list_definitions %>
  </div>
<% else %>
  <div class="row">
    <%= render @check_list_definitions %>
  </div>
<% end %>
</div>
