<div class="row">

  <% if user_signed_in? %>
  <div class="col-6 col-sm-6 col-lg-4">
    <%= link_to 'Create new check list', new_check_list_definition_path, class: "btn btn-primary" %>
  </div>
  <% end %>

  <%= render @check_list_definitions %>

</div>

