<div id="footer">
  <div class="container">
    <p class="text-muted credit">&copy; Get It Right 2013 | 
      <%= link_to 'About', '#' %> | 
      <%= link_to 'Contact', '#' %>
    </p>
  </div>
</div>
